@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  color: #333333;
  font-family: "Montserrat", sans-serif;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

header {
  margin-top: 80px;
  margin-bottom: 40px;
}
h1 {
  font-size: 75px;
  margin-bottom: 18px;
}

header a {
  color: #4d4949;
  margin-right: 16px;
  text-decoration: double;
  font-size: 18px;
  border-bottom: 0.7px solid #888888b7;
}

footer {
  color: #888888;
  border-top: 1px solid #b8b3b39c;
  margin-top: 16px;
  padding: 16px 0;
  font-weight: 500;
}

img {
  width: 250px;
}

input {
  border: 1px solid #888888;
  padding: 8px;
  border-radius: 4px;
  width: 40%;
}

.searchBtn {
  cursor: pointer;
  border: 1px solid #888888;
  background: #888888;
  padding: 8px;
  color: rgba(255, 255, 255, 0.76);
  border-radius: 4px;
}

.clearBtn {
  margin-top: 16px;
  padding: 10px;
  border: 1px solid #888888;
  background: #888888;
  color: rgba(255, 255, 255, 0.76);
  border-radius: 4px;
}

.main-content p {
  margin: 30px;
}

h4 {
  margin-bottom: 18px;
  color: #7a7a7ab2;
  font-weight: 200;
}

.about {
  margin-bottom: 21px;
}
